<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="flex w-full h-screen justify-center items-center">
    <div>
      <img src="assets/images/logo.png" alt="">
      <p class="text-center text-white font-bold text-xl">
        <ion-button color="light" [routerLink]="['/login']"><span class="text-yellow-500 text-xl font-bold">Get Started <i class="fa-solid fa-arrow-right"></i></span></ion-button>
      </p>
    </div>
  </div>
</ion-content>
