<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-searchbar></ion-searchbar> -->
  <div class="flex">
    <div class="">
      <div class="w-20 h-20 bg-slate-500 rounded-3xl">
        <div>
          
        </div>
        <div>
          <ion-img src="assets/images/avatar.png"></ion-img>
        </div>
      </div>
    </div>
    <div class="">

    </div>
  </div>
</ion-content>
