<ion-header [translucent]="true">
 <ion-toolbar>
  <div class="bg-yellow-500 text-white font-bold text-2xl p-1 rounded-md">
    <i>AutoScout</i>
  </div>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="border-2 mx-5 my-2 rounded-xl px-5 flex space-x-5">
    <i class="fa-solid fa-magnifying-glass text-2xl mt-2" ></i>
    <ion-input placeholder="Search Products"></ion-input>
  </div> -->
  <div class="mt-3">
    <ion-toolbar>
      <ion-searchbar
        debounce="500"
        #searchInput
        mode="ios"
        placeholder="Search Cars..."
        (ionInput)="onSearchChange($event)"
      >
        
      </ion-searchbar>
    </ion-toolbar>
  </div>
  <div class="mx-5 flex text-yellow-500 justify-between gap-5">
    <div class="border-b-2 border-yellow-500 w-1/4 text-center">
      <i class="fa-solid fa-car text-3xl text-center"></i>
      <p class="text-center">Cars</p>
    </div>
    <div class="border-b-2 border-yellow-500 w-1/4 text-center">
      <i class="fa-solid fa-gift text-3xl text-center"></i>
      <p class="text-center">Promos</p>
    </div>
    <div class="border-b-2 border-yellow-500 w-1/4 text-center">
      <i class="fa-solid fa-motorcycle text-3xl text-center"></i>
      <p class="text-center">Motorcycles</p>
    </div>
   <div class="border-b-2 border-yellow-500 w-1/4 text-center">
      <i class="fa-solid fa-piggy-bank text-3xl text-center"></i>
      <p class="text-center">Car Loan</p>
    </div>
  </div>

  <ion-row>
    @for(item of items; track i ; let i = $index ){
      <ion-col sizeLg="3" sizeMd="4" sizeSm="6" sizeXl="3" sizeXs="6">
        <ion-card>
          <div class="px-5 py-2 flex justify-center">
            <ion-img [src]="item?.image"></ion-img>
          </div>
          <div class="h-24">
            <p class="text-center font-bold text-lg">{{item?.name}}</p>
            <div class="flex mx-5 justify-between gap-2">
              <p class=" text-lg text-blue-400">Php{{item?.price}}</p>
              <button class="bg-blue-500 rounded-3xl px-2 text-white"><i class="fa-solid fa-plus text-lg font-bold"></i></button>
            </div>
          </div>
        </ion-card>
      </ion-col> 
    }
    
  </ion-row>
</ion-content>
