<ion-header [translucent]="true">
 <ion-toolbar>
  <div class="bg-yellow-500 text-white font-bold text-2xl p-1 rounded-md">
    <i>AutoScout</i>
  </div>
 </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="border-2 mx-5 my-2 rounded-xl px-5 flex space-x-5">
    <i class="fa-solid fa-magnifying-glass text-2xl mt-2" ></i>
    <ion-input placeholder="Search Products"></ion-input>
  </div> -->
  <div class="mt-3">
    <ion-toolbar>
      <ion-searchbar
        debounce="500"
        #searchInput
        mode="ios"
        placeholder="Looking for..."
        
      >
      </ion-searchbar>
    </ion-toolbar>
  </div>
  <p class="text-center my-5 py-2 text-lg font-bold bg-yellow-500 text-white">AutoScout Services</p>
  <div class="grid grid-cols-2 gap-2 text-yellow-500 mx-5">
    <div class="border-b-2 border-yellow-500  text-center">
      <i class="fa-solid fa-car text-3xl text-center"  [routerLink]="['/cars']"></i>
      <p class="text-center">Cars</p>
    </div>
    <div class="border-b-2 border-yellow-500  text-center">
      <i class="fa-solid fa-gift text-3xl text-center"></i>
      <p class="text-center">Scout Promos</p>
    </div>
    <div class="border-b-2 border-yellow-500  text-center">
      <i class="fa-solid fa-motorcycle text-3xl text-center"></i>
      <p class="text-center">Motorcycles</p>
    </div>
   <div class="border-b-2 border-yellow-500  text-center">
      <i class="fa-solid fa-piggy-bank text-3xl text-center"></i>
      <p class="text-center">Scout Loan</p>
    </div>
  </div>
  <div class="border-t-2 mt-5">
    <div class="flex justify-between px-5 py-2">
      <p class="text-xl">Featured Cars</p>
      <button [routerLink]="'/cars'"><i class="text-lg fa-solid fa-arrow-right"></i></button>
    </div>
    <div class="bg-yellow-100 py-5">
      <swiper-container
        slides-per-view="1"
        
      >
        <swiper-slide *ngFor="let car of cars; let i = index" class="flex">
          <div class="flex justify-center mx-10">
            <div class="border-1 bg-white rounded-xl p-2 shadow-xl space-y-5">
              <div class="flex justify-between">
                <p class="text-xl font-bold">{{car?.name}}</p>
                <i class="fa-regular fa-heart"></i>
              </div>
              <div>
                <img [src]="'assets/images/corolla.jpg'" class="rounded-lg" alt="">
              </div>
              <div class="flex justify-between my-5 px-5">
                <button class="bg-yellow-400 text-white px-2 rounded-md shadow-md">View Details</button>
                <p class="text-xl">Php:{{car?.price}}</p>
              </div>
            </div>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</ion-content>
